* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 none;
  vertical-align: baseline;
  appearance: none;
  outline: none;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
}

*:before,
*:after {
box-sizing: inherit;
}

html {
  color: #000;
  font-family: 'Izmir', sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  background: #fff;
  line-height: 1;
  min-width: 360px;
}

body.overflow-hidden {
    overflow: hidden;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

q:before,
q:after {
content: '';
content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
img {
  pointer-events: none;
}
